<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">Class Details</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a onclick="showClassList()">Classes </a>
                </li>
                <li class="breadcrumb-item active">Class Details</li>
            </ul>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="about-info">
                    <div class="media mt-3 d-flex">

                            <ul>
                                <li>
                                    <span class="title-span">Class Id : </span>
                                    <span class="info-span">${id}</span>
                                </li>
                                <li>
                                    <span class="title-span">Class Name </span>
                                    <span class="info-span">${name}</span>
                                </li>
                                <li>
                                    <span class="title-span">Class Grade </span>
                                    <span class="info-span">${grade}</span>
                                </li>
                                <li>
                                    <span class="title-span">Teachers </span>
                                    <span class="info-span">${}</span>
                                </li>
                                <li>
                                    <span class="title-span">Numbers Of Students </span>
                                    <span class="info-span"></span>
                                </li>
                                <li>
                                    <span class="title-span">Status </span>
                                    <span class="info-span"></span>
                                </li>


                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>