<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Add Teacher</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a
                        onclick="showTeacherList()">Teachers</a>
                </li>
                <li class="breadcrumb-item active">Add Teacher</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Teacher Information</span></h5>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" id="name" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Phone Number</label>
                                <div>
                                    <input type="text" id="phone" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <button type="button" onclick="addNewTeacher()" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>