<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Students</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Students</li>
            </ul>
        </div>
        <div class="col-auto text-end float-end ms-auto">
            <a href="#" class="btn btn-outline-primary me-2"><i class="fas fa-download"></i> Download</a>
            <a href="add-student.html" class="btn btn-primary"><i class="fas fa-plus"></i></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-center mb-0 datatable">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Class</th>
                            <th>DOB</th>
                            <th>Username</th>
                            <th>Parent's Name</th>
                            <th>Parent's Phone Number</th>

                            <th class="text-end">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>${stId}</td>
                            <td>
                                <h2 class="table-avatar">
                                    <a onclick="showStudentDetails(${stId})" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="${stAvatar}" alt="User Image"></a>
                                    <a onclick="showStudentDetails(${stId})">${stName}</a>
                                </h2>
                            </td>
                            <td>${stClass}</td>
                            <td>${stBirthday}</td>
                            <td>${stUsername}</td>
                            <td>${prName}</td>
                            <td>${prPhoneNo}</td>
<!--&lt;!&ndash;                           -->
                            <td class="text-end">
                                <div class="actions">
                                    <a onclick="showFormEditStudent(${stId})" class="btn btn-sm bg-success-light me-2">
                                        <i class="fas fa-pen"></i> Edit
                                    </a>
                                    <a onclick="inactivateStudent(${stId})" class="btn btn-sm bg-danger-light">
                                        <i class="fas fa-trash"></i> Delete
                                    </a>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>