<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        function showClazz() {
            $.ajax({
                type: "Get",
                url: "http://localhost:8080/api/clazzs",
                success: function (clazz) {
                    $.ajax({
                        type: "Get",
                        url: "http://localhost:8080/api/teachers",
                        success: function (teachers) {
                            $.ajax({
                                type: "Get",
                                url: "http://localhost:8080/api/users",
                                success: function (users) {

                                    displayClazz(clazz,teachers,users)

                                }
                            })

                        }
                    })

                }
            })
            function displayClazz(clazz,teachers,users){
                console.log(teachers)
                let res  =""
                 for (let i = 0; i < clazz.length; i++) {
                     for (let j = 0; j < teachers.length; j++) {
                         for (let k = 0; k < users.length; k++) {
                             if (teachers[j].user.id == users[k].id && clazz[i].id == teachers[j].id) {
                                 console.log(users)
                                 res += clazz[i].name+users[k].fullName + users[k].avatar+"<br>"
                             }
                         }

                     }
                 }
                document.getElementById("display").innerHTML = res;
                }



        }
        </script>
</head>
<body onload="showClazz()">
<div id="display"></div>
</body>
</html>