<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        function showClazz() {
            $.ajax({
                type: "Get",
                url: "http://localhost:8080/api/clazzs",
                success: function (clazz) {
                    $.ajax({
                        type: "Get",
                        url: "http://localhost:8080/api/teachers",
                        success: function (teachers) {
                            $.ajax({
                                type: "Get",
                                url: "http://localhost:8080/api/users",
                                success: function (users) {
                                    console.log(users)
                                    displayClazz(clazz,teachers,users)

                                }
                            })

                        }
                    })

                }
            })
            function displayClazz(clazz,teachers,users){
                let res  =""
                for (let i = 0; i < clazz.length; i++) {
                    for (let j = 0; j < teachers; j++) {
                        for (let k = 0; k < users; k++) {
                            if (teachers[j].id == clazz[i].teachers_id && parent[p].user.id == user[j].id){

                            }
                        }

                    }
                    res+= clazz[i].name+"<br>"
                }
                document.getElementById("display").innerHTML = res;
            }

        }
        </script>
</head>
<body onload="showClazz()">
<div id="display"></div>
</body>
</html>