<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        function showClazz() {
            $.ajax({
                type: "Get",
                url: "http://localhost:8080/api/clazzs",
                success: function (clazz) {
                    console.log(clazz)
                    displayClazz(clazz)

                }
            })
            function displayClazz(clazz){
                let res  =""
                for (let i = 0; i < clazz.length; i++) {
                    res+= clazz[i].name+"<br>"
                }
                document.getElementById("display").innerHTML = res;
            }

        }
        </script>
</head>
<body onload="showClazz()">
<div id="display"></div>
</body>
</html>