<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        function showStudent() {
            $.ajax({
                type: "Get",
                url: "http://localhost:8080/api/students",
                success: function (student) {
                    console.log(student)
                     displayStudent(student)

                }
            })
            function displayStudent(student){
                let res  =""
                for (let i = 0; i < student.length; i++) {
                    res+= student[i].birthday+"<br>"
                }
                document.getElementById("display").innerHTML = res;
            }

        }
    </script>
</head>

<body onload="showStudent()">
<div id="display"></div>
</body>
</html>