<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        function showStudent() {
            $.ajax({
                type: "Get",
                url: "http://localhost:8080/api/students",
                success: function (student) {
                    console.log(student)
                    displayStudent(student)

                }
            })
            function displayStudent(student){
                let res  =``
                for (let i = 0; i < student.length; i++) {
                    $.ajax({
                        type: "GET",
                        url: "http://localhost:8080/api/users",
                        success: function (array) {
                            for (let j = 0; j < array.length; j++) {
                                if (array[j].id==student[i].user.id){
                                    res+= student[i].birthday+" "
                                    res+=  array[j].username + " " +
                                        array[j].fullName + " " +
                                        array[j].avatar + " "
                                        + "<br>"
                                }
                            }document.getElementById("display").innerHTML = res;
                        }
                    })
                }

            }

        }
    </script>
</head>

<body onload="showStudent()">
<div id="display"></div>
</body>
</html>