<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        function showStudent() {
            $.ajax({
                type: "Get",
                url: "http://localhost:8080/api/students",
                success: function (student) {
                    // console.log(student)
                    $.ajax({
                        type: "GET",
                        url: "http://localhost:8080/api/users",
                        success: function (user) {
                            $.ajax({
                                type: "Get",
                                url: "http://localhost:8080/api/parents",
                                success: function (parent) {
                                    $.ajax({
                                        type: "Get",
                                        url: "http://localhost:8080/api/clazzs",
                                        success: function (clazzs) {
                                            // console.log(clazzs)
                                            $.ajax({
                                                type: "Get",
                                                url: "http://localhost:8080/api/teachers",
                                                success: function (teacher) {
                                                    console.log(teacher)
                                                    displayStudent(student, user, parent, clazzs,teacher)

                                                }
                                            })

                                        }
                                    })

                                }
                            })
                        }
                    })
                }
            })
        }

        function displayStudent(student, user, parent, clazzs,teachers) {
            let res = ``
            for (let i = 0; i < student.length; i++) {
                for (let j = 0; j < user.length; j++) {
                    if (user[j].id == student[i].user.id) {

                        res += student[i].birthday + " "
                            + user[j].username + " " +
                            user[j].fullName + " " +
                            user[j].avatar + " "
                    }
                    for (let p = 0; p < parent.length; p++) {
                        if (parent[p].id == student[i].parent.id && parent[p].user.id == user[j].id) {
                            // console.log(student[i].parent.id)
                            res += user[j].username + " " +
                                user[j].fullName + " " +
                                user[j].avatar + " "
                        }
                    }

                }
                for (let c = 0; c < clazzs.length; c++) {
                    if (clazzs[c].id == student[i].clazz.id) {
                        res += clazzs[c].name + " " +
                            clazzs[c].grade
                        console.log(teachers[0].classes[0].id)
                        for (let j = 0; j < user.length; j++) {
                            for (let t = 0; t < teachers.length; t++) {
                                if (clazzs[c].id ==teachers[t].classes[0].id&&teachers[t].user.id==user[j].id){
                                    res += user[j].username + " " +
                                        user[j].fullName + " " +
                                        user[j].avatar + " "+ "<br>"
                                }
                            }}

                    }
                }

            }
            document.getElementById("display").innerHTML = res;
        }


    </script>
</head>

<body onload="showStudent()">
<div id="display"></div>
</body>
</html>