<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        function showTeacher() {
                    $.ajax({
                        type: "Get",
                        url: "http://localhost:8080/api/teachers",
                        success: function (teachers) {
                            $.ajax({
                                type: "Get",
                                url: "http://localhost:8080/api/users",
                                success: function (users) {

                                    displayClazz(teachers,users)

                                }
                            })

                        }
                    })
            function displayClazz(teachers,users){
                console.log(teachers)
                let res  =""
                    for (let j = 0; j < teachers.length; j++) {
                        for (let k = 0; k < users.length; k++) {
                            if (teachers[j].user.id == users[k].id ) {
                                console.log(users)
                                res += users[k].fullName + users[k].avatar+"<br>"
                            }
                        }

                    }

                document.getElementById("display").innerHTML = res;
            }



        }
    </script>
</head>

<body onload="showTeacher()">
<div id="display"></div>

</body>
</html>